<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.TNG_002"/>
      <class name="testNG.TNG_001"/>
      <class name="testNG.LinksTesting1"/>
      <class name="testNG.CheckBox1"/>
      <class name="testNG.NewTest"/>
      <class name="testNG.RadioButton1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
